@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansX-Regular.woff2') format('woff2')
}

@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSansX-Bold.woff2') format('woff2')
}

html {
    scroll-behavior: smooth;
}

html:lang(fa) {
    font-family: "IRANSansX" !important;
}

article {
    gap: 50px;
}

.logo {
    filter: invert(50%) sepia(13%) saturate(3207%) hue-rotate(90deg) brightness(80%) contrast(60%);
}

#about, #services, #contact {
    scroll-margin-top: 100px; /* Adjust this value to match the height of your fixed header */
}

#navbar {
    background-color: transparent;
}

#navbar li {
    color: aliceblue;
}

#navbar.scrolled {
    background-color: white;
}

#navbar.scrolled li {
    color: #212529;
}

#navbar.scrolled select {
    color: #212529;
}

.navbar-link {
    gap: 20px;
    margin-right: 15px;
    padding-top: 10px;
}

.navbar-link-ul {
    gap: 20px;
}

.navbar-link-fa {
    gap: 12px;
    padding-top: 10px;
    margin-left: 13px;
}

.navbar-link-fa-ul {
    gap: 12px;
}

.hero-center {
    padding-top: 90px;
}

.hero-button-fa {
    margin-top: 30px;
    font-size: large;
}

.hero-button {
    margin-top: 30px;
}

.bg-header {
    background: linear-gradient(
            to bottom,
            rgba(92, 77, 66, 0.8) 0%,
            rgba(92, 77, 0, 0) 10%
    ),
    url('../img/webp/home.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.bg-place {
    background: url("../img/webp/serv-overview-narrow.webp");
    height: 417px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.bg-trees {
    background: url("../img/webp/sp4.webp");
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.contact-icon {
    filter: invert(22%) sepia(24%) saturate(674%) hue-rotate(68deg) brightness(97%) contrast(94%);
}

.contact-form-txt {
    padding-top: 10px;
}

.oxygen {
    padding-top: 25px;
    padding-bottom: 25px;
}

.hospital-txt {
    font-size: xxx-large;
}


@media (min-width: 768px) {
    .about-desc-a {
        padding-right: 60px;
        padding-top: 30px;
    }

    .about-desc-b {
        padding-left: 60px;
        padding-top: 30px;
    }

    .navbar-link-fa {
        gap: 20px;
        padding-top: 10px;
        margin-left: 15px;
    }

    .hero-text {
        font-size: 7rem !important;
    }

}